@model TripGuide.Models.ViewModels.UserRolesViewModel

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Profile</h1>
    </div>
</div>

<div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto">
                <img src="@Model.AvatarImageUrl" class="img-fluid" style="height: 360px; width: 600px;" alt="Profile Picture" />
            </div>

            <div class="col">
                <h2 class="mb-3">@Model.UserName</h2>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Go to Profile Settings</a>
            </div>
        </div>
    </div>
</div>