@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" placeholder="Please choose your username." />
                <label asp-for="Input.Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 mb-3 btn btn-lg btn-primary">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div id="profile-form">
                <div style="height:258px; width:258px;" class="mb-3 border border-dark">
                    <img src="@Model.Input.AvatarImageUrl" id="avatarImageDisplay" style="height:256px; width:256px" />
                </div>
                <div class="mb-3">
                    <input type="text" hidden class="form-control" id="avatarImageUrl" asp-for="Input.AvatarImageUrl">
                    <input type="file" id="avatarImage" name="AvatarImage" asp-for="Input.AvatarImageUrl">
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const avatarImageElement = document.getElementById('avatarImage');
        const avatarImageUrl = document.getElementById('avatarImageUrl');
        const avatarImageDisplay = document.getElementById('avatarImageDisplay');

        async function uploadAvatarImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/image', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    avatarImageUrl.value = result.link;
                    avatarImageDisplay.style.display = 'block';
                    avatarImageDisplay.src = result.link;
                });
        }

        avatarImageElement.addEventListener('change', uploadAvatarImage);
    </script>
}
