@model IEnumerable<TouristObject>

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Tourist Objects</h1>
    </div>
</div>
<div>
    <div class="pb-3">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="TouristObject" asp-action="Create">
            Create Tourist Object
        </a>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var touristObject in Model)
                {
                    <tr>
                        <td>@touristObject.Id</td>
                        <td>@touristObject.Name</td>
                        <td><a href="@Url.Action("Update", "TouristObject", new { id = touristObject.Id })">View</a></td>
                        <td>
                            <form asp-action="Delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@touristObject.Id" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>No blog posts were found!</p>
    </div>
}