@model IEnumerable<BlogPost>

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Blog Posts</h1>
    </div>
</div>

@if (Model != null && Model.Any())
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Page Title</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.PageTitle</td>
                        <td><a href="@Url.Action("Update", "BlogPost", new { id = blogPost.Id })">View</a></td>
                        <td>
                            <form asp-action="Delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@blogPost.Id" />
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>No blog posts were found!</p>
    </div>
}